.login-page {
  .ant-result-icon {
    display: none;
  }
  .ant-result-content{
    background: transparent;
    display: flex;
    justify-content: center;
    .login-form {
      min-width: 400px;
    }
  }
}
